/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #08b9ce;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-darkblue: #015a9c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  margin: 0;
  font-family: "Gowun Batang", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Header */

#header {
  height: 1300px;
  position: relative;
}

#header::after {
  background-image: url(imgs/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5 !important;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
}

.page_logo {
  display: flex;
  font-weight: var(--weight-semi-bold);
  justify-content: center;
  font-size: 70px;
  padding: 300px;
  padding-bottom: 200px;
}

.page_logo i {
  margin: 20px;
}

.page_logo:hover {
  transition: 0.7s;
  color: var(--color-white);
}

#subnav {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}

#subnav.visible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  background-color: white;
  z-index: 1;
  height: auto;
}

.sub_navbar_menu {
  display: flex;
  justify-content: center;
  font-size: var(--font-medium);
}

.sub_navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.sub_navbar_menu_item:hover {
  transition: 0.7s;
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar_menu {
  display: flex;
  justify-content: center;
  font-size: var(--font-medium);
}

.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar_menu_item:hover {
  transition: 0.7s;
  border: 1px solid var(--color-white);
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Me */

#me {
  background-color: var(--color-yellow);
  height: 1000px;
  padding-top: 100px;
}

#me p {
  padding-top: 20px;
}

#me p:hover {
  transform: scale(1.2);
  color: var(--color-blue);
  transition: 0.5s;
}

#me img {
  display: block;
  margin: 30px auto;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

#me img:hover {
  animation: rotation 2s infinite ease;
  transition: 3s;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* Skill */
#skills {
  background-color: var(--color-dark-white);
  height: 1000px;
  padding-top: 100px;
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 200px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Hobby */

#hobby {
  background-color: #e0f8f7;
  padding-top: 100px;
}

.hob_photo_wrapper {
  display: flex;
}

#hobby .img {
  display: flex;
  width: 500px;
  height: 400px;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  filter: blur(3px);
}

#hobby .img:hover {
  filter: blur(0);
  transition: 0.3s ease-in-out;
}

/* Gallery */

#gallery {
  background-color: var(--color-orange);
  height: 1200px;
  padding-top: 100px;
}

.slider {
  width: 800px;
  height: 600px;
  position: relative;
  padding-top: 50px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
}

.slider input[type="radio"] {
  display: none;
}

ul.imgs {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.imgs li {
  position: absolute;
  left: 640px;
  transition-delay: 1s; /* 새 슬라이드가 이동해 오는 동안 이전 슬라이드 이미지가 배경이 보이도록 지연 */
  width: 800px !important;
  padding: 0;
  margin: 0;
}

.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}

.bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.55);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
.slider
  input[type="radio"]:nth-child(1):checked
  ~ .bullets
  > label:nth-child(1) {
  background-color: #fff;
}
.slider
  input[type="radio"]:nth-child(2):checked
  ~ .bullets
  > label:nth-child(2) {
  background-color: #fff;
}
.slider
  input[type="radio"]:nth-child(3):checked
  ~ .bullets
  > label:nth-child(3) {
  background-color: #fff;
}
.slider
  input[type="radio"]:nth-child(4):checked
  ~ .bullets
  > label:nth-child(4) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(5):checked
  ~ .bullets
  > label:nth-child(5) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(6):checked
  ~ .bullets
  > label:nth-child(6) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(7):checked
  ~ .bullets
  > label:nth-child(7) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(8):checked
  ~ .bullets
  > label:nth-child(8) {
  background-color: #fff;
}

.slider
  input[type="radio"]:nth-child(9):checked
  ~ .bullets
  > label:nth-child(9) {
  background-color: #fff;
}

.slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.slider input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.slider input[type="radio"]:nth-child(5):checked ~ ul.imgs > li:nth-child(5) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.slider input[type="radio"]:nth-child(6):checked ~ ul.imgs > li:nth-child(6) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.slider input[type="radio"]:nth-child(7):checked ~ ul.imgs > li:nth-child(7) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.slider input[type="radio"]:nth-child(8):checked ~ ul.imgs > li:nth-child(8) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

.slider input[type="radio"]:nth-child(9):checked ~ ul.imgs > li:nth-child(9) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}

/* Contact */

#contact {
  background-color: var(--color-pink);
  height: 800px;
  padding-top: 200px;
}

.contact_title,
.contact_email,
.contact_rights {
  color: var(--color-white);
}

.contact_title {
  margin: 32px 0;
  transition: 1s;
}

.contact_title:hover {
  color: yellow;
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}

.contact_links {
  display: flex;
  font-size: var(--font-large);
  justify-content: center;
  align-items: center;

  transition: all var(--animation-duration) ease-in;
}

.contact_links i:hover {
  transform: scale(1.1);
  color: red;
  transition: all var(--animation-duration) ease-in;
}

.contact_links a {
  margin: 10px;
  padding: auto;
  color: var(--color-white);
}

.arrow-up {
  position: fixed;
  bottom: 20px;
  width: 150px;
  height: 200px;
  right: 10px;
  font-size: 50px;
  color: var(--color-black);
  border-style: none;
  background: none;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.arrow-up.visible:hover {
  animation: up-down 0.5s infinite ease-in-out alternate;
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-40px);
  }
}

@media screen and (min-width: 2000px) {
  #me {
    background-color: var(--color-yellow);
    padding: 70px;
    height: 1300px;
    padding-top: 150px;
  }

  #me img {
    width: 600px;
    height: 600px;
  }

  #skills {
    background-color: var(--color-dark-white);
    height: 1300px;
    padding-top: 200px;
  }

  #gallery {
    background-color: var(--color-orange);
    height: 1300px;
    padding-top: 100px;
  }

  #contact {
    background-color: var(--color-pink);
    height: 500px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    height: 700px;
    position: relative;
    z-index: 1;
  }

  .page_logo {
    padding: 70px;
    font-size: 30px;
    font-weight: var(--weight-semi-bold);
    padding-top: 100px;
  }

  .page_logo i {
    margin: 10px;
  }

  .navbar_menu {
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub_navbar_menu {
    display: flex;
    justify-content: center;
    font-size: var(--font-small);
  }

  .sub_navbar_menu_item {
    margin: 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
  }

  .section__container p {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .skillset {
    flex-direction: column;
    padding: auto;
    margin: 0;
  }

  .hob_photo_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  ul.imgs li {
    max-width: 454px;
  }

  .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 270px;
    z-index: 2;
  }

  .bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  #gallery {
    background-color: var(--color-orange);
    height: 600px;
    padding-top: 100px;
  }

  .arrow-up {
    right: 10px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .arrow-up p {
    font-size: small;
  }
}
